.join {
  background: url("../../fitness website/images/banner-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  .join__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h3 {
      text-transform: uppercase;
    }
    span {
      margin: 1rem auto;
      max-width: 60rem;
      font-size: 1.2rem;
      line-height: 1;
    }
    input {
      width: 50%;
      padding: 0.5rem 2rem;
      border: none;
      outline: none;
      font-weight: bold;
    }
  }
}
